/* Generics */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    width: 100vw;
    color: white;
    position: relative;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #74777c;
}

 /* Utilities */
 .flex {
     display: flex;
 }

 .grey {
    color: #74777c;
 }

/* Header - Premium */
header {
    height: 100px;
    width: calc(100% - 250px);
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 21;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#premium-button {
    height: 40px;
    width: 200px;
    border: 2px solid white;
    border-radius: 25px;
    margin-right: 21px;
    background-color: rgba(0, 0, 0, 0.5);
}

#premium-button a {
    color: white;
    font-weight: 600;
}

#premium-button:hover {
    transform: scale(1.1);
    cursor: pointer;
}

/* Profile-Section and Main-Nav */
.profile-section {
    height: calc(100vh - 100px);
    width: 250px;
    background-color: black;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 10;
}

.profile-section a {
    font-weight: 600;
}

.logo {
    width: 70%;
    margin: 30px 15px;
}

.logo-small {
    display: none;
}

.main-nav {
    margin-bottom: 25px;
}

.nav-icon {
    font-size: 25px;
    margin-right: 10px;
}

.profile-section li {
    height: 35px;
    width: 100%;
    padding-left: 15px;
    margin-bottom: 8px;
}

#active {
    border-left: 3px solid #adff2f;
    padding-left: 12px;
}

#active a {
    color: white;
}

.profile-section li:hover a {
    color: white;
    cursor: pointer;
}

.profile-section h4 {
    font-weight: 700;
}

.profile-section>h4 {
    margin: 15px;
}

.fa-plus-square {
    font-size: 40px;
    margin-right: 10px;
}

.profile {
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    margin-bottom: 10px;
}

.container {
    display: flex;
    align-items: center;
}

.container i {
    font-size: 25px;
    margin-bottom: 20px;
}

.container h4 {
    margin-left: 15px;
    margin-bottom: 20px;
}

.profile hr {
    margin: 10px;
    width: calc(100% - 20px);
    color: #74777c;
}

.profile i {
    margin-left: 15px;
}

.new-pl {
    margin: 0px 0px 20px 15px;
    display: flex; 
    align-items: center;
}

.new-pl:hover *{
    color: white;
    cursor: pointer;
}

.profile a:hover {
    color: white;
}

/* Main */
main {
    height: calc(100vh - 100px);
    width: calc(100vw - 250px);
    background-color: #141922;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 5;
    padding-top: 120px;
    overflow-y: scroll;
}

main span {
    color: #74777c;
    font-weight: 600;
    font-size: 14px;
}

/* Scrollbar */
main::-webkit-scrollbar {
    width: 13px;              
  }
  
  main::-webkit-scrollbar-track {
    background: black;    
  }
  
  main::-webkit-scrollbar-thumb {
    background-color: #74777c;   
    border-radius: 5px;       
  }
  
/* main-header-nav */
.main-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-header nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.main-header a {
    margin: 0px 5px;
    padding-bottom: 15px;
    font-weight: 700;
}

.main-header a:hover {
    color: white;
    border-bottom: 2px solid #adff2f;
}
/* main-section */
section {
    width: 100%;
}

.section-title {
    margin: 30px 20px;
}

.article-wrapper {
    display: flex;
    flex-wrap: wrap;
}

article {
    min-width: 95px;
    max-width: 12%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2%;
}

article img {
    width: 100%;
    margin-bottom: 15px;
}

.round-pic {
    border-radius: 50%;
}

/* Player - Footer */
footer {
    height: 100px;
    width: 100%;
    background-color: #282828;
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 20;
    display: flex;
    justify-content: space-between;
}
/* now-playing */
.now-playing {
    display: flex;
    align-items: center;

}

.now-playing img {
    height: 45px;
    margin: 0px 15px;
}

.artist-song {
    margin-right: 40px;
}

.artist-song span {
    color: #74777c;
    font-size: 12px;
    font-weight: 600;
}

.artist-song h5:hover {
    text-decoration: underline;
    cursor: pointer;
}

.fa-heart,.fa-folder {
    font-size: 1.2rem;
    margin: 5px;
}

.fa-heart:hover,.fa-folder:hover {
    color: white;
}

/* player */
.player {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.player-controls {
    display: flex;
    align-items: center;
    margin: 15px 0px;
}

.player-icon {
    color: white;
    font-size: 18px;
    margin: 0px 8px;
}

.player-icon:hover {
    transform: scale(1.1);
}
#play {
    font-size: 33px;
    margin: 0px 10px;
}

.song-time {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.song-time span {
    color: white;
    font-weight: 600;
    font-size: 12px;
}

.song-bar {
    height: 5px;
    width: calc(100% - 150px);
    background-color: #74777c;
    border-radius: 4px;
    display: inline-block;
    margin: 0px 15px;
}

/* more-controls */
.more-controls {
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.control-icon {
    color: white;
    font-weight: 600;
    margin-right: 15px;
}

.volume-bar {
    height: 5px;
    width: 35%;
    background-color: #74777c;
    border-radius: 4px;
    display: inline-block;
}

.hover {
    height: 5px;
    width: 30%;
    background-color: white;
    border-radius: 4px;
    position: relative;
}

.circle {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    right: 0px;
    top: -5px;
    display: none;
}

.song-time:hover .circle, .volume-bar:hover .circle {
    display: inline;
    cursor: pointer;
}

.song-time:hover .hover, .volume-bar:hover .hover {
    background-color: #adff2f;
    cursor: pointer;
}

 /* Media Query */
 @media screen and (max-width: 639px) {
    article {
        min-width: 45%;
    }

    article h3 {
        font-size: 15px;
    }

    .main-header a {
        font-size: 14px;
    }
}

@media screen and (max-width: 600px) {
    article {
        min-width: 45%;
    }

    article h3 {
        font-size: 15px;
    }

    .main-nav span {
        display: none;
    }

    .phone {
        display: none;
    }

    .logo {
        display: none;
    }

    .logo-small {
        display: block;
        width: 25px;
        margin: 15px;
    }

    .profile-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 55px;
    }

    header, main {
        width: calc(100vw - 55px);
    }

    .profile {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0%;
    }

    .profile i {
        margin-left: 0px;
    }

    .profile>i {
        margin-bottom: 15px;
    }

    .artist-song {
        margin-right: 20px;
    }
}   