/* Generics */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    width: 100vw;
    color: white;
    position: relative;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #74777c;
}

 /* Utilities */
 .flex {
     display: flex;
 }

 .grey {
    color: #74777c;
 }

/* Header - Premium */
header {
    height: 100px;
    width: calc(100% - 250px);
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 21;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#premium-button {
    height: 40px;
    width: 200px;
    border: 2px solid white;
    border-radius: 25px;
    margin-right: 15px;
    background-color: rgba(0, 0, 0, 0.5);
}

#premium-button a {
    color: white;
    font-weight: 600;
}

/* Profile-Section and Main-Nav */
.profile-section {
    height: calc(100vh - 100px);
    width: 250px;
    background-color: black;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 10;
}

.profile-section a {
    font-weight: 600;
}

.logo {
    width: 70%;
    margin: 30px 15px;
}

.main-nav {
    margin-bottom: 25px;
}

.nav-icon {
    font-size: 25px;
    margin-right: 10px;
}

.profile-section li {
    height: 35px;
    width: 100%;
    padding-left: 15px;
    margin-bottom: 8px;
}

#active {
    border-left: 3px solid #adff2f;
    padding-left: 12px;
}

#active a {
    color: white;
}

.profile-section li:hover a {
    color: white;
    cursor: pointer;
}

.profile-section h4 {
    font-weight: 700;
    display: inline-block;
}

.profile-section>h4 {
    margin: 15px;
}

.fa-plus-square {
    font-size: 40px;
    margin-right: 10px;
}

.profile {
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    margin-bottom: 10px;

}

.profile hr {
    margin: 10px;
    width: calc(100% - 20px);
    color: #74777c;
}

.profile i {
    margin-left: 15px;
}

.new-pl {
    margin: 0px 0px 10px 15px;
    display: flex; 
    align-items: center;
}

.new-pl:hover *{
    color: white;
    cursor: pointer;
}

/* Main */
main {
    height: calc(100vh - 100px);
    width: calc(100vw - 250px);
    background-color: #141922;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 5;
    padding-top: 100px;
}

/* Player - Footer */
footer {
    height: 100px;
    width: 100%;
    background-color: #282828;
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 20;
    display: flex;
    justify-content: space-between;
}
/* now-playing */
.now-playing {
    display: flex;
    align-items: center;

}
.now-playing img {
    height: 45px;
    margin: 0px 15px;
}

.artist-song {
    margin-right: 50px;
}

.artist-song span {
    color: #74777c;
    font-size: 12px;
    font-weight: 600;
}

.fa-heart,.fa-folder {
    font-size: 1.2rem;
    margin: 5px;
}
/* player */
